/*
@todo check out scaling font with viewport width below 850
*/

body {
  font-family: 'Roboto', sans-serif;
}

.header-wrapper {
  background: #F7F7F9;
  padding: 35px 0;
}

.logo {
  max-width: 350px;
}

.header, .content {
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  max-width: 850px;
}

.content {
  max-width: 850px;
  font-size: 1.2rem;
}

.page-header {
  padding: 40px 0 20px 0;
  margin-bottom: 40px;
  color: #4FA1D1;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid rgba(206,212,218, 0.5);
}
.page-header h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 91px;
}
.page-header h2 {
  font-size: 51px;
}

form#address {
  margin: 30px 0;
}
form#address label {
  font-size: 1.5rem;
  margin: 0;
}
#addr {
  height: 4rem;
  font-size: 1.5rem;
  margin: 20px 0;
}

.btn-default {
  background: #4FA1D1;
  border: #4FA1D1;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  height: 4rem;
  padding: 0 30px;
}

.btn-default:focus,
.btn-default:active,
.btn-default:hover {
  background: #327FAC;
  border: #327FAC;
}

#yesIDCChallenger {
  color: #4FA1D1;
  font-weight: 800;
  text-decoration: underline;
}

a {
  color: #212529;
  text-decoration: underline;
}

a:hover {
  color: #327FAC!important;
}

#moreInfo {
  margin-top: 20px;
}
#moreInfo h5 {
  font-family: 'Oswald', sans-serif;
  color: #4FA1D1;
  text-transform: uppercase;
}

.text-danger {
  font-weight: 600;
}

.answer {
  margin: 30px 0;
  display: none;
  animation: fadeIn 0.5s ease;
}

.bg-danger {
  background: #F2DEDE!important;
  padding: 30px;
}

.bg-info {
  background: #FCF8E4!important;
  padding: 30px;
}

@media (max-width: 520px) {
  .page-header h1 {
    font-size: 2.4rem;
  }
  .page-header h2 {
    font-size: 1.4rem;
  }
  form#address label {
    font-size: 1.2rem;
  }
}

@media (min-width: 521px) and (max-width: 850px) {
  .page-header h1 {
    font-size: 3.2rem;
  }
  .page-header h2 {
    font-size: 1.9rem;
  }
}

@media (min-width: 850px){
  .header {
    text-align: center;
  }
}
